{% extends 'base.html.twig' %}

{% block body %}
<form method="post" name="add-solution-form" id="addSolutionForm">
    <label for="add-solution-title">Tytuł:</label><input id="add-solution-title" type="text" name="title">
    <label for="add-solution-description">Opis:</label>
    <textarea id="add-solution-description" type="text" name="description"></textarea>
    <label for="add-solution-type">Typ:</label>
    <select name="add-solution-type" id="add-solution-select">
        <option>Wybierz</option>
        <option value="magento_1">Magento 1</option>
        <option value="magento_2">Magento 2</option>
        <option value="symfony">Symfony</option>
        <option value="pimcore">Pimcore</option>
        <option value="linux">Linux</option>
        <option value="windows">Windows</option>
        <option value="inne">Inne</option>
    </select>
    <button id="add-solution-button" type="submit">Dodaj</button>
</form>
{% endblock %}